html,body{
	margin: 0px;
	font-family: 'Roboto Condensed', sans-serif;

}
a,a:visited{
	color: inherit !important;
	text-decoration: none;
}
.no-margin{
	margin: 1px;
}
.be-uni{
	background-color: #003485
}
.white{
	color: #ECF0F1;
}
.black{
	color: 0;
}
#logo{
	font-size: 1.2em;
}
.large-padding{
	padding: 0px 0px;
}

.newcolor{
	background-color: #5db9bb 
}